*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c7c7c7;  
}
.wrapper1, .wrapper2 {
    width: 400px;
    height: 400px;
    position: absolute;
}
/* change wrapper here to move the wheels */
.wrapper1 {
    top: 10%;
    left: 10%;
}
.wrapper2 {
    top: 10%;
    left: 60%;
}
.container1 .container2 {
    position: relative;
    width: 500px;
    height: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.spinner1, .spinner2 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.spinner1::before, .spinner2::before {
    content: '';
    position: absolute;
    top: 30%;
    width: 40px;
    height: 30px;
    background: black;
}
.spinner1::before {
    left: 360%;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
.spinner2::before {
    left: -330%;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.spinner1::after, .spinner2::after {
    content: '';
    position: absolute;
    top: 33%;
    width: 37px;
    height: 27px;
    background: rgb(255, 136, 0);
}
.spinner1::after {
    left: 363%;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
.spinner2::after {
    left: -328%;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.wheel1, .wheel2 {
    position: absolute;
    /* top: 10; */
    /* left: -50%; */
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 4px #333,
    0 0 0 4px #333;
    transition: transform;
}
.genre, .cuisine {
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(36deg * var(--i)));
    clip-path: polygon(0 0, 50% 0, 99% 99%, 0 47%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* cursor: pointer; */
}
.genre span, .cuisine span {
    position: relative;
    font-size: 0.60cm;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 3px .1em black;
}
.cuisine span {
    transform: rotate(225deg);
}
.genre span {
    transform: rotate(45deg);
}

@media screen and (max-width: 992px) {
    .wrapper1, .wrapper2 {
        width: 300px;
        height: 300px;   
    }
    .genre span, .cuisine span {
        font-size: 0.45cm;
        font-weight: 600;
        text-shadow: 1px 2px .1em black;
    }
    .spinner1, .spinner2 {
        width: 50px;
        height: 50px;
        border: 2px solid rgba(0,0,0,0.75);
    }
    .spinner1::before, .spinner2::before {
        width: 35px;
        height: 25px;
    }
    .spinner1::before {
        left: 320%;
    }
    .spinner2::before {
        left: -295%;
    }
    .spinner1::after, .spinner2::after {
        width: 32px;
        height: 22px;
    }
    .spinner1::after {
        left: 325%;
    }
    .spinner2::after {
        left: -293%;
    }
    .wheel1, .wheel2 {
        box-shadow: 0 0 0 2px #333,
        0 0 0 2px #333;
    }
}

@media screen and (max-width: 768px) {
    .wrapper1, .wrapper2 {
        width: 200px;
        height: 200px;   
    }
    .genre span, .cuisine span {
        font-size: 0.30cm;
        font-weight: 500;
        text-shadow: 1px 2px .1em black;
    }
    .spinner1, .spinner2 {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(0,0,0,0.75);
    }
    .spinner1::before, .spinner2::before {
        width: 30px;
        height: 20px;
    }
    .spinner1::before {
        left: 265%;
    }
    .spinner2::before {
        left: -250%;
    }
    .spinner1::after, .spinner2::after {
        width: 27px;
        height: 17px;
        top: 34%;
    }
    .spinner1::after {
        left: 271%;
    }
    .spinner2::after {
        left: -248%;
    }
    .wheel1, .wheel2 {
        box-shadow: 0 0 0 2px #333,
        0 0 0 2px #333;
    }

}
#choice-text {
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
}
 
#date-text {
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#history-title{
    font-size: 3rem;
}